body {
  font-family: "Nunito", "Segoe UI", Helvetica, Arial, sans-serif;
  color: var(--color-text);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  cursor: default;
}

*,
input,
button {
  outline: none !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}
