:root {
  --color-background: #fff;
  --color-background-secondary: #f7f8fb;
  --color-light-text: #bfcbd2;
  --color-text: #23274f;
  --color-stripes: #ebebee;

  --color-orange-background: #efc9b3;
  --color-orange-text: #bf5b2c;
  --color-green-background: #b4e5c9;
  --color-green-text: #509f6e;
  --color-red-background: #ff7878;
  --color-red-text: #ea2b2b;
  --color-blue-background: #1cb0f6;
  --color-blue-text: #2b70c9;
  --color-purple-background: #ce82ff;
  --color-purple-text: #634590;
  --color-pink-background: #ffb2b2;
  --color-pink-text: #ff4b4b;
  --color-turquoise-background: #d2e4e8;
  --color-turquoise-text: #425863;
  --color-maroon-background: #b7657b;
  --color-maroon-text: #502e2e;
  --color-grey-background: #afafaf;
  --color-grey-text: #4b4b4b;
  --color-yellow-background: #ffe06e;
  --color-yellow-text: #ca7702;

  --color-error-background: #ffc2c1;
  --color-error-text: #ea2b2b;

  --color-success-background: #def0a5;
  --color-success-text: #769c00;
}

[data-theme="dark"] {
  --color-background: #202124;
  --color-background-secondary: #292a2d;
  --color-light-text: #b3b3b3;
  --color-text: #fff;
  --color-stripes: #585858;
}
