.day {
  margin: 0 15px;
  display: grid;
  grid-template-rows: 40px auto;
}

.day-name {
  color: var(--color-light-text);
}

.day-name-active {
  color: var(--color-text);
}

.day-background {
  padding-top: 33px;
  background: linear-gradient(
    to bottom,
    var(--color-background) 96%,
    var(--color-stripes) 5%
  );
  background-size: 100% 35px;
}

.day-background.selected {
  opacity: 0.5;
}
